**/bin
**/obj
**/.git
**/.gitignore
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/README.md
**/.vs
**/.vscode
**/node_modules
**/npm-debug.log
**/publish
**/backups
# Note: scripts/ directory is needed for entrypoint.sh in Docker image
# **/scripts