[Unit]
Description=Planty API Service
After=network.target

[Service]
Type=notify
TimeoutStartSec=180
User=planty
Group=planty
WorkingDirectory=/opt/planty-api
ExecStart=/opt/planty-api/Planty.API
Restart=always
RestartSec=10
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=multi-user.target